OPENSEA_API_KEY=your_opensea_api_key
OPENSEA_COLLECTION_SLUGS=smithsnfts,noidsofficial,abstractors-abstract,megahoneybadgers,buumeeofficial
COLLECTION_LABELS="smithsnfts:SMITHS,noidsofficial:NOIDS,abstractors-abstract:ABSTRACTORS,megahoneybadgers:MEGA HONEY BADGERS,buumeeofficial:BUUMEE"
OPENSEA_POLL_ENABLED=true
OPENSEA_POLL_INTERVAL_MS=300000
OPENSEA_POLL_LOOKBACK_MS=600000

DRY_RUN=false
POST_IMAGES=true
REQUIRE_IMAGES=true
ENS_LOOKUP=true
ETH_RPC_URL=
ENS_TIMEOUT_MS=5000
USD_CONVERSION=true
ETH_USD_SOURCE_URL=https://api.coinbase.com/v2/prices/ETH-USD/spot
ETH_USD_TIMEOUT_MS=3000
ETH_USD_CACHE_MS=120000
RETRY_INTERVAL_MS=60000
MAX_PENDING_SALES=250
STATE_FILE=.state/posted-sales.json
BACKFILL_HOURS=12

X_API_KEY=your_x_api_key
X_API_SECRET=your_x_api_secret
X_ACCESS_TOKEN=your_bot_user_access_token
X_ACCESS_SECRET=your_bot_user_access_secret
X_OAUTH2_CLIENT_ID=your_oauth2_client_id
X_OAUTH2_CLIENT_SECRET=your_oauth2_client_secret_required_for_oauth2_only
X_OAUTH2_ACCESS_TOKEN=your_oauth2_access_token
X_OAUTH2_REFRESH_TOKEN=your_oauth2_refresh_token
X_OAUTH2_TOKEN_FILE=.env
HASHTAGS=
